# Get this key here: https://console.upstash.com/redis
# Or just make a POST request to https://upstash.com/start-redis free & no login needed
UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=

# --- Anthropic ---
# Get this key here (https://console.anthropic.com/settings/keys)
ANTHROPIC_API_KEY=
